@{
    ViewData["Title"] = "最新消息";
}


<div class=”container”>&nbsp;</div>
<div class=”container”>&nbsp;</div>
<div class="nm-row">
    <div class="nm-post-content-col col col-md-8 col-sm-12 col-xs-12">
        <header class="nm-post-header">
            <img width="969" height="490" src="https://www.jzn.com.tw/assets/pic/news_81153657-0666-11e8-a334-002590fbd4ec.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://www.jzn.com.tw/assets/pic/news_81153657-0666-11e8-a334-002590fbd4ec.jpg 969w,https://www.jzn.com.tw/assets/pic/news_81153657-0666-11e8-a334-002590fbd4ec.jpg 300w, https://www.jzn.com.tw/assets/pic/news_81153657-0666-11e8-a334-002590fbd4ec.jpg 768w, https://www.jzn.com.tw/assets/pic/news_81153657-0666-11e8-a334-002590fbd4ec.jpg 680w, https://steakmyhome.com.tw/newmyhome/wp-content/uploads/2019/07/19年7月天母店公休-店休banner-350x177.jpg 350w, https://www.jzn.com.tw/assets/pic/news_81153657-0666-11e8-a334-002590fbd4ec.jpg 600w" sizes="(max-width: 969px) 100vw, 969px" />
            <h1>111/01/29~02/05春節店休公告</h1>
        </header>

        <article id="post-11907" class="post-11907 post type-post status-publish format-standard has-post-thumbnail hentry category-news-board category-news">
            <div class="nm-post-content entry-content clear">
                <p>致 親愛的貴賓</p>
                <p>牛排館逢春節假期店休</p>
                <p>造成您的不便</p>
                <p>敬請見諒</p>
                <p>謝謝您</p>
            </div>
        </article>

    </div>

    <div class="wrapper">
        <div class="nm-post-sidebar-col col-md-4 col-sm-12 col-xs-12">
            <div id="recent-posts-2" class="widget widget_tga">
                <h3 class="nm-widget-title" style="color: #ff6600;">近期消息</h3>
                <ul class="tgalist">
                    <li>
                        <a href="https://steakmyhome.com.tw/%e6%96%b0%e5%93%81%e4%b8%8a%e5%b8%82%ef%bc%81%e8%a8%98%e6%86%b6%e7%9a%84%e5%91%b3%e9%81%93%ef%bc%8d%e7%be%8e%e5%9c%8b%e5%b8%b6%e9%aa%a8%e7%89%9b%e5%b0%8f%e6%8e%92/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 新品上市！記憶的味道－美國帶骨牛小排 </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://steakmyhome.com.tw/%e7%82%b8%e9%9b%9e%e5%a1%8a%e6%aa%a2%e9%a9%97%e5%90%88%e6%a0%bc%e8%ab%8b%e5%ae%89%e5%bf%83/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 炸雞塊檢驗合格請安心! </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://steakmyhome.com.tw/2017%e5%b9%b41%e6%9c%88%e9%9b%9e%e5%b9%b4-%e6%98%a5%e7%af%80%e7%87%9f%e6%a5%ad%e6%99%82%e9%96%93/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 2022年1月虎年-春節營業時間 </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://steakmyhome.com.tw/%e5%85%a8%e6%b0%91%e5%90%83%e6%88%b0%e6%96%a7%e7%89%9b%e6%8e%92%e6%8a%bd%e9%99%90%e9%87%8fhoja%e5%ae%89%e5%85%a8%e5%b8%bd%e6%b4%bb%e5%8b%95%e9%96%8b%e8%b7%91/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 全民吃戰斧牛排抽限量HOJA安全帽活動開跑~ </span>
                        </a>
                    </li>


                    <li>
                        <a href="https://steakmyhome.com.tw/%e6%88%91%e5%ae%b6%e7%89%9b%e6%8e%92fb%e6%83%85%e4%ba%ba%e7%af%80%e7%95%99%e8%a8%80%e8%b4%88%e8%b2%b4%e8%b3%93%e5%8d%b7%e6%b4%bb%e5%8b%95/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> FB情人節留言贈貴賓卷活動 </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://steakmyhome.com.tw/%e6%88%91%e5%ae%b6%e7%89%9b%e6%8e%92%e5%8e%9a%e5%91%b7%e5%b0%b1%e8%a6%81%e5%a0%b1%e4%bd%a0%e7%9f%a5%e9%81%93fb%e7%b6%b2%e8%b7%af%e6%b4%bb%e5%8b%95%e9%96%8b%e8%b7%91/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 厚呷就要報你知道FB網路活動開跑 </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://steakmyhome.com.tw/%e6%88%91%e5%ae%b6%e7%89%9b%e6%8e%92%e5%ae%98%e6%96%b9%e7%b2%89%e7%b5%b2%e5%9c%98%e6%8a%bd%e9%a4%90%e5%8d%b7%e6%b4%bb%e5%8b%95/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 官方粉絲團抽餐卷活動 </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://steakmyhome.com.tw/%e6%88%91%e5%ae%b6%e7%89%9b%e6%8e%92%e5%ae%98%e6%96%b9%e7%b2%89%e7%b5%b2%e5%9c%98%e6%b4%bb%e5%8b%95-%e5%85%92%e7%ab%a5%e7%af%80%e5%85%92%e7%ab%a5%e6%88%91%e6%9c%80%e5%a4%a7/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 官方粉絲團活動-兒童節兒童我最大 </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://steakmyhome.com.tw/%e7%8b%82%e8%b3%80%e7%b2%89%e7%b5%b2%e5%9c%98%e7%a0%b4%e8%90%ac%e6%b4%bb%e5%8b%95%e9%96%8b%e8%b7%91/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 狂賀粉絲團破萬活動開跑 </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://steakmyhome.com.tw/%e6%88%91%e5%ae%b6%e7%89%9b%e6%8e%92-%e9%b3%b3%e6%9d%be%e5%ba%97-%e6%af%8f%e9%80%b1%e4%ba%8c%e5%85%ac%e4%bc%91%e5%85%ac%e5%91%8a/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i>  每週二公休公告 </span>
                        </a>
                    </li>



                    <li>
                        <a href="https://steakmyhome.com.tw/%e6%ba%ab%e9%a6%a8%e6%af%8d%e8%a6%aa%e7%af%80hoja%e8%ab%8b%e4%bd%a0%e5%90%83%e7%89%9b%e6%8e%92%e6%b4%bb%e5%8b%95/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 溫馨母親節HOJA請你吃牛排活動 </span>
                        </a>
                    </li>



                    <li>
                        <a href="https://steakmyhome.com.tw/%e6%88%91%e5%ae%b6%e7%89%9b%e6%8e%92%e6%ad%a1%e6%85%b630%e9%80%b1%e5%b9%b4%e6%8a%bd%e7%8d%8e%e6%b4%bb%e5%8b%95/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 歡慶30週年抽獎活動 </span>
                        </a>
                    </li>



                    <li>
                        <a href="https://steakmyhome.com.tw/%e6%88%91%e5%ae%b6%e7%89%9b%e6%8e%92-%e6%96%b0%e8%8e%8a%e5%ba%97-%e6%af%8f%e9%80%b1%e4%ba%8c%e5%85%ac%e4%bc%91%e5%85%ac%e5%91%8a/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 新莊店 每週二公休公告 </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://steakmyhome.com.tw/%e5%b0%8b%e6%89%behoja%e6%8a%bd%e9%a4%90%e5%8a%b5%e6%b4%bb%e5%8b%95/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 尋找HOJA抽餐劵活動 </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://steakmyhome.com.tw/%e5%88%86%e4%ba%ab%e6%9a%91%e5%81%87%e5%87%ba%e9%81%8a%e8%a8%88%e7%95%ab%e6%8a%bd%e9%a4%90%e5%8a%b5/">
                            <span class="bigtitle"><i class="fa fa-bullhorn" aria-hidden="true"></i> 分享暑假出遊計畫抽餐劵 </span>
                        </a>
                    </li>

                </ul>
            </div>



        </div>
    </div>
</div>

